<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChangeCoder</title>
    <link rel="stylesheet" href="styles/icon.css">
    <link rel="stylesheet" href="styles/common.css">
    <link rel="stylesheet" href="styles/response.css">
    <link rel="stylesheet" href="styles/head.css">
    <link rel="stylesheet" href="styles/edit.css">
</head>

<body>
    <div id="edit">
        <nav class="nav">
            <a class="logo">
                <span>ChangeCoder</span>
            </a>
            <div class="nav-bar collapse">
                <ul class="nav-items">
                    <li><a href="#">书山有路勤为径</a></li>
                    <li><a href="#">学海无涯苦作舟</a></li>
                    <li><a href="#">漫途下一站</a></li>
                </ul>
                <ul>
                    <li>
                        <a href="#">
                            <span class="icon-github github">&nbsp;</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="content">
            <div class="container">
                <form >
                    <div class="editor-title">
                        <input class="textbox" name="title" type="text" value="" placeholder="来，取个响亮的标题吧！"></div>
                    <div class="textbox tag-input">
                        <input type="text" placeholder="标签，如JavaScript">
                            <span class="hidden"></span>
                    </div>
                    <div class="md-editor">
                        <textarea name="content"></textarea>
                    </div>            
                    <div class="md-btngroup">
                        <button class="btn primary">提交</button>
                        <span class="help-text">这是一条提示信息</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>