<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ChangeCoder</title>
    <link rel="stylesheet" href="styles/common.css">
    <link rel="stylesheet" href="styles/icon.css">
    <link rel="stylesheet" href="styles/index.css">
</head>

<body>
    <div class="app">
        <div class="head">
            <ul class="nav nav-horizontal">
                <li class="pull-left">
                    <span class="web-icon">漫途下一站</span>
                </li>
                <li class="pull-right">
                    <a href="https://github.com/changeCoder/ChangeCoder">
                        <div>
                            <span class="icon-github github">&nbsp;</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="content">
            <div class="content-left">
                <div class="flex content-left-self">
                    <div class="content-left-self-bg" style="background-image: url(images/bg.jpg);"></div>
                    <div class="content-left-self-info">
                        <a href="profile/index.html">
                            <img class="avator" src="images/mantu.jpeg">
                        </a>
                        <h6>
                            <a class="self-name" href="profile/index.html">漫途下一站</a>
                        </h6>
                        <p>
                            我答应在旅途的路上给他们寄明信片，也决定在别人漆黑冰冷的青春里，做一个温暖光明的路灯。愿我的声音穿过你的青春，伴你安然入睡。这里是漫途下一站FM，我是主播酒酒，我在下一站，等着你。
                        </p>
                    </div>
                </div>
            </div>
            <div class="content-middle">

            </div>
            <div class="content-right">

            </div>
        </div>
    </div>
</body>

</html>