<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ChangeCoder</title>
    <link rel="stylesheet" href="styles/common.css">
    <link rel="stylesheet" href="styles/icon.css">
    <link rel="stylesheet" href="styles/index.css">
</head>
<body>
    <div class="app">
        <div class="head">
            <ul class="nav nav-horizontal">
                <li class="pull-left">
                    <span class="web-icon">ChangeCoder</span>
                </li>
                <li class="pull-right">
                    <a href="https://github.com/changeCoder/ChangeCoder">
                        <div>
                            <span class="icon-github github">&nbsp;</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>