#app {
    padding-top: 50px;
}
.content {
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.5rem;
}
.container {
    display: flex;
    flex-wrap: wrap;
}
.info, .list, .others  {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 1px;
}
.introduce {
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    margin-bottom: 1.25rem;
}
.bg {
    height: 150px;
    background-size: cover;
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.in {
    text-align: center;
    padding: 1.25rem;
}
.ig {
    max-width: 100px;
    margin-top: -70px;
    margin-bottom: 5px;
    border: 3px solid #fff;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.name {
    font-size: 1rem;
    margin-bottom: 5px;
}
.name a {
    color: inherit;
}
.ip {
    margin-bottom: 1.5rem;
}
.notes {
    margin-bottom: 1rem;
}
.notes > li {
    display: inline-block;
    padding: 0 10px;
    border-right:  1px solid #d4dbe0;
}
.notes > li:last-child {
    border-right: 0;
}
.notes > li > a {
    color: inherit;
}
.notes > li > h6 {
    font-size: 1rem;
}
.about {
    padding: 1.25rem;
}
.about > h6 {
    font-size: 1rem;
}
.about > ul > li {
    margin-bottom: 5px;
}
.about > ul li span{
    margin-right: 1rem;
}

.points {
    padding: 1.25rem;
}

.points a {
    margin-left: 5px;
}

.list > ul > li {
    display: flex;
    padding: 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
    margin-bottom: -1px;
}
.list > ul {
    margin-bottom: 1.5rem;
}
.itg {
    width: 42px;
    margin-right: 1rem;
    align-self: flex-start;
    border-radius: 100%;
}
.pull-right {
    float: right;
}

.list a {
    color: inherit;
    cursor: pointer;
}

.list h6 {
    font-size: 1rem;
}



