body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.6;
    color: #292b2c;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
}
.head {
    background-color: rgb(0, 188, 212);
    width: 100%;
    height: 64px;
}
.web-icon {
    font-family: Roboto, sans-serif;
    cursor: pointer;
    font-size: 24px;
    color: rgb(255, 255, 255);
    line-height: 64px;
    font-weight: 300;
    background-color: rgb(0, 188, 212);
    padding-left: 24px;
    margin-bottom: 8px;
}
.github {
    font-family: Roboto, sans-serif;
    cursor: pointer;
    font-size: 24px;
    color: rgb(255, 255, 255);
    line-height: 64px;
    font-weight: 300;
    background-color: rgb(0, 188, 212);
    padding-right: 24px;
    margin-bottom: 8px;
}

.content {
    padding: 1.5em 15px 0px 15px;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.content-left {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
    max-width: 25%;
    text-align: center;
}
.content-middle {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.content-left-self {
    margin: 0px 15px;
}
.content-left-self-bg {
    height: 150px;
    background-size: cover;
}
.content-left-self-info {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.flex {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.avator {
    max-width: 100px;
    margin-top: -70px;
    margin-bottom: 5px;
    border: 3px solid #fff;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.self-name {
    color: inherit;
}